# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
env/
venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# FastAPI / app
app/__pycache__/
app/*/__pycache__/

# Logs
*.log
logs/
*.log.*

# Env (on ne copie jamais ça dans l'image)
.env
.env.*
!.env.example

# Node / React (pour plus tard)
node_modules/
dist/
build/
.cache/
coverage/
*.tsbuildinfo

# Docker
docker-compose.override.yml
*.zip
*.tar
*.tar.gz

# IDE / Editors
.vscode/
.idea/
*.swp
*.swo

# System
.DS_Store
Thumbs.db
